.inputSearch{
    border: 0;
    border-bottom: 1px solid black;
    width: 150px;
    height: 30px;
    margin: 10px 0 10px 0;
    border-radius: 7px;
    padding-left: 5px;
}
.results{
    min-height: 1000px;
    justify-content: flex-start;
}
